

    <form action="" method="post">
        {{ avail_form.hidden_tag() }}
        <div class="row mb-2">
            <div class="col">
                {{ render_field(avail_form.day_possible)}}
            </div>
            <div class="col">
                {{ avail_form.day_time_from.label(class="form-label mb-2") }}<br>
                {{ avail_form.day_time_from(size=16, class="form-control") }}
                {% for error in avail_form.day_time_from.errors %}
                <span class="danger">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="col">
                {{ avail_form.day_time_to.label(class="form-label mb-2") }}<br>
                {{ avail_form.day_time_to(size=16, class="form-control") }}
                {% for error in avail_form.day_time_to.errors %}
                <span class="danger">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="col">
                <div class="mb-2">Action</div>
                <button type="submit" class="btn btn-primary">
                        <i class="bi bi-plus"></i>
                </button>
            </div>
        </div>
    </form>



    <div class="row m-2 g-2 g-lg-2">
        <table>
            <thead>
                <tr>
                <th class="desc">Day</th>
                <th class="desc">From</th>
                <th class="desc">To</th>
                </tr>
            </thead>
            <tbody>
            {% for avail in data.tutoring_exp.tutor_availabilities %}
            <tr>
                <td class="desc">{{ avail.day_possible }}</td>
                <td class="desc">{{ avail.day_time_from}}</td>
                <td class="desc">{{ avail.day_time_to}}</td>
                <td class="desc"><a href="{{url_for('auth.delete_availability', availability_id=avail.id)}}"><i class="bi bi-trash ml-4 text-danger"></i></a></td>
            </tr>
            {% endfor  %}
            </tbody>
        </table>
    </div>
