
    <div class="row">
         <form action="" method="post">
             {{ mod_form.hidden_tag() }}
             <div class="row mb-2">
                <div class="col">
                   {{ render_field(mod_form.modality)}}
                </div>
                 <div class="col">
                    <div class="mb-2">Action</div>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-plus"></i>
                    </button>
                </div>
             </div>
         </form>
    </div>

    <div class="row m-2">
            <table>
                <thead>
                    <tr>
                    <th class="desc">Modality</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for mod in data.tutoring_exp.tutor_modalities %}
                    <tr>
                        <td class="desc">{{ mod.modality }}</td>
                        <td></td>
                        <td class="desc"><a href="{{url_for('auth.delete_modality', modality_id=mod.id)}}"><i class="bi bi-trash ml-4 text-danger"></i></a></td>
                    </tr>
                {% endfor  %}
                </tbody>
            </table>
    </div>

