{% extends 'base.html' %}
{% from "_macros.html" import render_field, render_fields, render_field_wo_label %}

{% block content %}
<div class="row mb-4">
  <div class="col-10"><h3>{{ legend }}</h3></div>
  {% include 'auth/breadcrumb_user.html' %}
</div>
{% if current_user_role == 'supervisor' %}
{% include 'auth/nav_profile.html' %}
{% else %}
{% include 'admin/admin_nav_profile_user.html' %}
{% endif %}
<hr>
<div class="row mb-2">
    <div class="col">
        <form method="post">
            {{ form.hidden_tag() }}
            <div  class="row">
                <div class="col-2">
                    <div class="form-outline">
                        {{ render_field(form.engagement) }}
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-outline">
                        {{ form.start_date.label(class="form-label desc mb-0") }}<br>
                        {{ form.start_date(size=10, class="form-control") }}
                        {% for error in form.start_date.errors %}
                        <span class="danger">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-outline">
                        {{ form.end_date.label(class="form-label desc mb-0") }}<br>
                        {{ form.end_date(size=10, class="form-control") }}
                        {% for error in form.end_date.errors %}
                        <span class="danger">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-1">
                    <div class="form-outline">
                        {{ form.frequency.label(class="form-label desc mb-0") }}<br>
                        {{ form.frequency(size=64, class="form-control") }}
                        {% for error in form.frequency.errors %}
                        <span class="danger">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-1">
                    <div class="mb-0 mt-1 desc">Action</div>
                    <div> {{ form.submit(class="btn btn-primary btn-block mb-4") }}</div>
                </div>

        </form>

    </div>
<hr>
    {%  if data.tutoring_exp.engagement %}
        <div class="row mb-2">
            <div class="col-9">
                {% include 'auth/subjects_grades_template.html' %}
            </div>
            <div class="col-3">
                {% include 'auth/modalities_template.html' %}
            </div>
        </div>
        <hr>
        <div class="row mb-2">
            <div class="col">
                {% include 'auth/availability_template.html' %}
            </div>
        </div>
    {% endif %}



</div>
{% endblock %}