{% extends 'base.html' %}
{% from "_macros.html" import render_field, render_fields %}

{% block content %}

<div class="row mb-4">
  <div class="col-10"><h3>{{ legend }}</h3></div>
  {% include 'auth/breadcrumb_user.html' %}
</div>
{% include 'auth/nav_profile.html' %}
<hr>
<form method=post enctype=multipart/form-data>
<div class="row">
    <div class="col-1"></div>
    <div class="col">
            <h5 class="mb-4">To finalize the validation process : </h5>
    <div class="row mb-4">
        <div class="col">
            <span>Please upload your CV </span>
        </div>
        <div class="col mb-4">
            <input type=file name=cv_file>
            <input type=submit value=Upload>
        </div>
        <div class="col mb-4">
            <p>{{ data.upload_id.cv_filename }}</p>
        </div>
        <br>
    </div>
    <div class="row mb-4">
        <div class="col">
            <span>Please upload your B3 </span>
        </div>
        <div class="col mb-4">
            <input type=file name=b3_file>
            <input type=submit value=Upload>
        </div>
        <br>
    </div>
    <div class="row mb-4">
        <div class="col">
            <span>Please upload your ID </span>
        </div>
        <div class="col mb-4">
            <input type=file name=id_file>
            <input type=submit value=Upload>
        </div>
        <br>
    </div>
    </div>
</div>
</form>


{% endblock %}