{% from "_macros.html" import render_field, render_fields, show_icon %}
<form method="post" action="{{url_for('auth.profile_4', user_name=data.username)}}">
    {{ form4.hidden_tag() }}
    <div class="row mb-2">
        <p class="fw-bold">First interview</p>
        <div class="col">
            <div class="row">
                <span class="fw-lighter desc">Scheduled: </span><span>{{data.my_interviews.interview_date}}</span>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <span class="fw-lighter desc">Time: </span><span>{{data.my_interviews.interview_time}}</span>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <span class="fw-lighter desc">With: </span><span>{{data.my_interviews.interviewer}}</span>
            </div>
        </div>
        <div class="row">
            <span class="fw-lighter desc">Message: </span><p class="fst-italic">{{data.my_interviews.message}}</p>
        </div>


            <div class="row">
                <div class="col">
                    <small>To agree, click on checkbox and confirm</small>
                    <div class="form-check">
                        {{ form4.is_accepted() }}
                    </div>
                </div>
                <div class="col">
                    {{ form4.submit(class="btn btn-primary btn-block mb-4") }}
                </div>
            </div>
    </div>
</form>


    <div class="d-flex justify-content-around align-center">
        <div class="card ">
            <div class="card-body mt-3">
              <span class={% if data.my_interviews.proposed %} "badge bg-success" {% else %} "badge bg-light text-secondary" {% endif %}  ><i class="bi bi-star me-1"></i> Proposed</span>
              <span class={% if data.my_interviews.is_accepted %} "badge bg-success" {% else %} "badge bg-light text-secondary" {% endif %}><i class="bi bi-collection me-1"></i> Accepted</span>
              <span class={% if data.my_interviews.is_done %} "badge bg-success" {% else %} "badge bg-light text-secondary" {% endif %}><i class="bi bi-check-circle me-1"></i> Done</span>
            </div>
        </div><!-- End Icon Badges -->
    </div>


