{% extends 'base.html' %}

{% block content %}
<div class="row mb-4">
  <div class="col-10 me-0"><h3>{{ legend }}</h3></div>
  {% include 'auth/breadcrumb_user.html' %}
</div>
{% include 'auth/nav_profile.html' %}
<hr>
<p><span>Username:</span>{{data.username}}</p>
<p><span>Email:</span>{{data.email}}</p>
<p><span>Role:</span>{{data.role}}</p>
<p><span>First Name:</span>{{data.first_name}}</p>
<p><span>Last Name:</span>{{data.last_name}}</p>
<p><span>Street: </span>{{data.my_info.address}}</p>
<p><span>City: </span>{{data.my_info.city}}</p>
<p><span>Zipcode: </span>{{data.my_info.zipcode}}</p>

<p><span>Zipcode: </span>{{data.my_info.phone}}</p>
<p><span>Zipcode: </span>{{data.my_info.email2}}</p>
<p><span>Date of Birth: </span>{{data.my_info.birth_date}}</p>
<p><span>Short text: </span>{{data.my_info.short_text}}</p>
<p><span>Short text: </span>{{data.more.when}}</p>
<p><span>Inquiry: </span>{{data.more.inquiry}}</p>





{% endblock %}