{% extends 'base.html' %}

{% block content %}

<div class="row mb-4">
  <div class="col-10 me-0"><h3>{{ legend }}</h3></div>
  {% include 'auth/breadcrumb_user.html' %}
</div>
{% include 'auth/nav_profile.html' %}
<hr>

<div class="row">
  <div class="col">
    <p><span class="desc">Username:</span><br>{{data.username}}</p>
    <p><span class="desc">Email:</span><br>{{data.email}}</p>
    <p><span class="desc">Role:</span><br>{{data.role}}</p>
    <p><span class="desc">First Name:</span><br>{{data.first_name}}</p>
    <p><span class="desc">Last Name:</span><br>{{data.last_name}}</p>
  </div>

  <div class="col">
    <p><span class="desc">Street: </span><br>{{data.my_info.address}}</p>
    <p><span class="desc">City: </span><br>{{data.my_info.city}}</p>
    <p><span class="desc">Zipcode: </span><br>{{data.my_info.zipcode}}</p>
    <p><span class="desc">Phone: </span><br>{{data.my_info.phone}}</p>
    <p><span class="desc">Email 2: </span><br>{{data.my_info.email2}}</p>
  </div>

  <div class="col">
    <p><span class="desc">Date of Birth: </span><br>{{data.my_info.birth_date}}</p>
    <p><span class="desc">Short text: </span><br>{{data.my_info.short_text}}</p>
    <p><span class="desc">When to contact me: </span><br>{{data.more.when}}</p>
    <p><span class="desc">Inquiry: </span><br>{{data.more.inquiry}}</p>
  </div>
  <div class="col">
    <p><span class="desc">Engagement: </span><br>{{data.tutoring_exp.engagement}}</p>
    <p><span class="desc">From: </span><br>{{data.tutoring_exp.start_date}}</p>
    <p><span class="desc">To: </span><br>{{data.tutoring_exp.end_date}}</p>
    <p><span class="desc">Frequency: </span><br>{{data.tutoring_exp.frequency}} h/week</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-4">
    <h6 class="mb-0">Availabilities</h6>
    <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col" class="desc mb-0">day</th>
        <th scope="col" class="desc mb-0">From</th>
        <th scope="col" class="desc mb-0">To</th>
      </tr>
    </thead>
    <tbody>
    {% for time in data.tutoring_exp.tutor_availabilities %}
      <tr>
        <td>{{time.day_possible}}</td>
        <td>{{time.day_time_from}}</td>
        <td>{{time.day_time_to}}</td>
      </tr>
    {% endfor  %}
    </tbody>
  </table>

  </div>
  <div class="col-4">
    <h6 class="mb-0">Subjects</h6>
    <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col" class="desc mb-0">Subject</th>
        <th scope="col" class="desc mb-0">Grade From</th>
        <th scope="col" class="desc mb-0">Grade To</th>
      </tr>
    </thead>
    <tbody>
    {% for subj in data.tutoring_exp.tutor_subjects %}
      <tr>
        <td>{{subj.subject}}</td>
        <td>{{subj.grade_from}}</td>
        <td>{{subj.grade_to}}</td>
      </tr>
    {% endfor  %}
    </tbody>
  </table>

  </div>
  <div class="col-2">
    <h6 class="mb-0">Modalities</h6>
    <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col" class="desc mb-0">Modality</th>
      </tr>
    </thead>
    <tbody>
    {% for mod in data.tutoring_exp.tutor_modalities %}
      <tr>
        <td>{{mod.modality}}</td>
      </tr>
    {% endfor  %}
    </tbody>
  </table>

  </div>
</div>
{% endblock %}