{% extends 'base.html' %}
{% from "_macros.html" import render_field, render_fields, show_icon %}

{% block content %}

<div class="row mb-4">
  <div class="col-10"><h3>{{ legend }}</h3></div>
  {% include 'auth/breadcrumb_user.html' %}
</div>
{% include 'auth/nav_profile.html' %}
<hr>
<form method="post">
{{ form.hidden_tag() }}
    <div class="row mb-2">
        <div class="col-2">Interview 1</div>

        <div class="col-5">
            <div>
                <span class="fw-lighter desc">Scheduled: </span><span>{{data.my_interviews.interview_date}}</span><br>
                <span class="fw-lighter desc">With: </span><span>{{data.my_interviews.interviewer}}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="col">
                <span>Accept?</span><br>
                <form method="'post">
                    {{ form.hidden_tag() }}
                    <div class="form-check">
                        {{ form.is_accepted() }}
                    </div>
                    <p>{{form.submit()}}</p>
                </form>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                    <div class="col">
                        <div class="row">Proposed</div>
                        <div class="row">{{ show_icon('Yes') if data.my_interviews.proposed else show_icon('Not Yet') }}</div>
                    </div>
                    <div class="col">
                        <div class="row">Accepted</div>
                        <div class="row">{{show_icon('Yes') if data.my_interviews.is_accepted else show_icon('Not Yet') }}</div>
                    </div>
                    <div class="col">
                        <div class="row">Done</div>
                        <div class="row">{{show_icon('Yes') if data.my_interviews.message else show_icon('Not Yet') }}</div>
                    </div>
                </div>
        </div>
    </div>


    <hr>
        <div class="row mb-2">
        <div class="col-2">Interview 2</div>

        <div class="col-5">
            <div>
                <span>Schedule: </span><span>me 30/11/2022 à 14h</span><br>
                <span>With: </span><span>noemie@sephoraberrebi.org</span>
            </div>
        </div>
        <div class="col-1">
            <div class="col">
                <span>Accept?</span><br>
                <i class="bi bi-check-square"></i>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                    <div class="col">
                        <div class="row">Proposed</div>
                        <div class="row"><i class="bi bi-check-circle-fill text-success"></i></div>
                    </div>
                    <div class="col">
                        <div class="row">Accepted</div>
                        <div class="row"><i class="bi bi-circle"></i></div>
                    </div>
                    <div class="col">
                        <div class="row">Done</div>
                        <div class="row"><i class="bi bi-circle"></i></div>
                    </div>
                </div>
        </div>
    </div>


    <div>
    <!-- Submit button -->
    <p class="text-center mt-4" >{{ form.submit(class="btn btn-success btn-block mb-4") }}</p>
    </div>
</form>

{% endblock %}