{% from "_macros.html" import render_field, render_fields %}

<!--
{% if current_user_role == 'supervisor' %}
{% include 'auth/nav_profile.html' %}
{% elif current_user.role in ['admin', 'superadmin'] %}
{% include 'admin/admin_nav_profile_user.html' %}
{% endif %}
-->
<form method="post" enctype="multipart/form-data" action="{{url_for('auth.profile_5', user_name=data.username)}}">
    <p class="mb-4">To finalize the validation process : </p>
    <div class="row mb-4">
        <div class="col-sm-6">
            <input class="form-control form-control-sm" type="file" id="cvFile" name="cv_file">
        </div>
        <div class="col">
            {% if data.my_upload_cv.cv_filename %}
            <span>{{data.my_upload_cv.cv_filename}}</span>
            {% else %}
            <span>Please upload your CV </span>
            {% endif %}
        </div>
        <div class="col-1">
            {% if data.my_upload_cv.cv_filename %}
            <i class="bi bi-check-circle-fill text-success"></i>
            {% else %}
            <i class="bi bi-circle"></i>
            {% endif %}
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm-6">
            <input class="form-control form-control-sm" type="file" id="b3File" name="b3_file">
        </div>
        <div class="col">
            <div class="col">
            {% if data.my_upload_b3.b3_filename %}
            <span>{{data.my_upload_b3.b3_filename}}</span>
            {% else %}
            <span>Please upload your B3 </span>
            {% endif %}
        </div>
        </div>
        <div class="col-1">
            {% if data.my_upload_b3.b3_filename %}
            <i class="bi bi-check-circle-fill text-success"></i>
            {% else %}
            <i class="bi bi-circle"></i>
            {% endif %}
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm-6">
            <input class="form-control form-control-sm" type="file" id="idFile" name="id_file">
        </div>
        <div class="col">
            <div class="col">
            {% if data.my_upload_id.id_filename %}
            <span>{{data.my_upload_id.id_filename}}</span>
            {% else %}
            <span>Please upload your ID </span>
            {% endif %}
        </div>
        </div>
        <div class="col-1">
            {% if data.my_upload_id.id_filename %}
            <i class="bi bi-check-circle-fill text-success"></i>
            {% else %}
            <i class="bi bi-circle"></i>
            {% endif %}
        </div>
     <!-- Submit button -->
    </div>
        <div class="text-center">
        <button type="submit" class="btn btn-primary">
          Upload
        </button>
    </div>
</form>
