{% extends 'base.html' %}
{% from "_macros.html" import render_field, render_fields %}

{% block content %}
<div class="row mb-4">
  <div class="col-10"><h3>{{ legend }}</h3></div>
  {% include 'auth/breadcrumb_user.html' %}
</div>
{% include 'auth/nav_profile.html' %}
<hr>
<div class="row mb-2">

    <div class="col-12 d-flex justify-content-center">
        <form method="post">
        {{ form.hidden_tag() }}
        <div class="row mb-2">
            <div class="col">
                <div class="form-outline">
                    {{ render_fields(form.maths) }}
                </div>
            </div>
            <div class="col">
            <div class="form-outline">
                {{ render_fields(form.physics) }}
            </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    {{ render_fields(form.svt) }}
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    {{ render_fields(form.french) }}
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    {{ render_fields(form.english) }}
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    {{ render_fields(form.spanish) }}
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    {{ render_fields(form.history) }}
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    {{ render_fields(form.geopolitics) }}
                </div>
            </div>
        </div>

        <div  class="row">
            <div class="col">
                <div class="form-outline">
                    {{ render_fields(form.modalities) }}
                </div>
            </div>
            <div class="col">
                    <div class="form-outline">
                        {{ render_field(form.contract_type) }}
                    </div>
            </div>
            <div class="col-2">
                    <div class="form-outline">
                        {{ form.start_date.label(class="form-label") }}<br>
                        {{ form.start_date(size=64, class="form-control") }}
                        {% for error in form.start_date.errors %}
                        <span class="danger">[{{ error }}]</span>
                        {% endfor %}
                    </div>
            </div>
            <div class="col-2">
                    <div class="form-outline">
                        {{ form.end_date.label(class="form-label") }}<br>
                        {{ form.end_date(size=64, class="form-control") }}
                        {% for error in form.end_date.errors %}
                        <span class="danger">[{{ error }}]</span>
                        {% endfor %}
                    </div>
            </div>
            <div class="col-2">
                    <div class="form-outline">
                        {{ form.frequency.label(class="form-label") }}<br>
                        {{ form.frequency(size=64, class="form-control") }}
                        {% for error in form.frequency.errors %}
                        <span class="danger">[{{ error }}]</span>
                        {% endfor %}
                    </div>
            </div>
        </div>

        </div>
        <div class="row mb-2">


        </div>
        <div class="row">
                <div class="col">
                    <div class="form-outline">
                        {{ form.monday.label(class="form-label") }}<br>
                        {% for nested in form.monday %}
                        {{ nested }}
                        {% endfor %}
                        {% for error in form.tuesday.errors %}
                        <span class="danger">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        {{ form.tuesday.label(class="form-label") }}<br>
                        {% for nested in form.tuesday %}
                        {{ nested }}
                        {% endfor %}
                        {% for error in form.tuesday.errors %}
                        <span class="danger">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        {{ form.tuesday.label(class="form-label") }}<br>
                        {% for nested in form.tuesday %}
                        {{ nested }}
                        {% endfor %}
                        {% for error in form.tuesday.errors %}
                        <span class="danger">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        {{ form.wednesday.label(class="form-label") }}<br>
                        {% for nested in form.wednesday %}
                        {{ nested }}
                        {% endfor %}
                        {% for error in form.wednesday.errors %}
                        <span class="danger">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        {{ form.thursday.label(class="form-label") }}<br>
                        {% for nested in form.thursday %}
                        {{ nested }}
                        {% endfor %}
                        {% for error in form.thursday.errors %}
                        <span class="danger">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        {{ form.friday.label(class="form-label") }}<br>
                        {% for nested in form.friday %}
                        {{ nested }}
                        {% endfor %}
                        {% for error in form.friday.errors %}
                        <span class="danger">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="col">
                        <div class="form-outline">
                            {{ form.sunday.label(class="form-label") }}<br>
                            {% for nested in form.sunday %}
                            {{ nested }}
                            {% endfor %}
                            {% for error in form.sunday.errors %}
                            <span class="danger">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    </div>

        </div>
    <!-- Submit button -->
        <p class="text-center mt-4">{{ form.submit(class="btn btn-success btn-block mb-4") }}</p>
        </form>
    </div>
</div>
{% endblock %}