<form action="{{url_for('auth.profile_3', user_name=data.username)}}" method="post">
    {{ form3.hidden_tag() }}
    <div class="row mb-3">
            <div class="form-outline">
                {{ form3.why.label(class="form-label") }}<br>
                {{ form3.why(size=500, class="form-control") }}
                {% for error in form3.why.errors %}
                <span class="danger">[{{ error }}]</span>
                {% endfor %}
            </div>
    </div>

    <div class="row mb-3">
            <div class="form-outline">
                {{ form3.experience.label(class="form-label") }}<br>
                {{ form3.experience(size=500, class="form-control") }}
                {% for error in form3.experience.errors %}
                <span class="danger">[{{ error }}]</span>
                {% endfor %}
            </div>
    </div>

    <div class="row mb-3">
            <div class="form-outline">
                {{ form3.when.label(class="form-label") }}<br>
                {{ form3.when(size=500, class="form-control") }}
                {% for error in form3.when.errors %}
                <span class="danger">[{{ error }}]</span>
                {% endfor %}
            </div>
    </div>

    <div class="row mb-3">
        <div class="form-outline">
            {{ render_field(form3.inquiry) }}
        </div>
    </div>
        <!-- Submit button -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary">
              Save Changes
            </button>
        </div>
</form>