{% extends 'base.html' %}
{% from "_macros.html" import render_field, render_fields %}

{% block content %}

<div class="row mb-4">
  <div class="col-10"><h3>{{ legend }}</h3></div>
  {% include 'auth/breadcrumb_user.html' %}
</div>
{% if current_user_role == 'supervisor' %}
{% include 'auth/nav_profile.html' %}
{% else %}
{% include 'admin/admin_nav_profile_user.html' %}
{% endif %}
<hr>
<form method="post">
{{ form.hidden_tag() }}
    <div class="row mb-2">
        <div class="col-6">
            <div class="form-outline mb-4">
                    {{ form.why.label(class="form-label") }}<br>
                    {{ form.why(size=500, class="form-control") }}
                    {% for error in form.why.errors %}
                    <span class="danger">[{{ error }}]</span>
                    {% endfor %}
            </div>
        </div>
    <div class="col-6">
        <div class="form-outline mb-4">
                {{ form.experience.label(class="form-label") }}<br>
                {{ form.experience(size=500, class="form-control") }}
                {% for error in form.experience.errors %}
                <span class="danger">[{{ error }}]</span>
                {% endfor %}
        </div>
    </div>
</div>
    <div>
    <div class="row mb-2">
        <div class="col-6">
            <div class="form-outline mb-4">
                    {{ form.when.label(class="form-label") }}<br>
                    {{ form.when(size=200, class="form-control") }}
                    {% for error in form.when.errors %}
                    <span class="danger">[{{ error }}]</span>
                    {% endfor %}
            </div>
        </div>
            <div class="col">
                    <div class="form-outline">
                        {{ render_field(form.inquiry) }}
                    </div>
            </div>
</div>
    <div>
    <!-- Submit button -->
    <p class="text-center mt-4" >{{ form.submit(class="btn btn-success btn-block mb-4") }}</p>
</div>
</form>

{% endblock %}