
    <form action="{{url_for('auth.profile_1', user_name=data.username)}}" method="post" >

        {{ form.hidden_tag() }}
        <div class="row mb-3">
            <div class="col">
                <div class="form-outline">
                    {{ form.address.label(class="form-label") }}<br>
                    {{ form.address(size=64, class="form-control") }}
                    {% for error in form.address.errors %}
                    <span class="danger">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div class="form-outline">
                    {{ form.city.label(class="form-label") }}<br>
                    {{ form.city(size=64, class="form-control") }}
                    {% for error in form.city.errors %}
                    <span class="danger">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    {{ form.zipcode.label(class="form-label") }}<br>
                    {{ form.zipcode(size=64, class="form-control") }}
                    {% for error in form.zipcode.errors %}
                    <span class="danger">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-6">
                <div class="form-outline">
                    {{ form.email2.label(class="form-label") }}<br>
                    {{ form.email2(size=64, class="form-control") }}
                    {% for error in form.email2.errors %}
                    <span class="danger">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    {{ form.phone.label(class="form-label") }}<br>
                    {{ form.phone(size=64, class="form-control") }}
                    {% for error in form.phone.errors %}
                    <span class="danger">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    {{ form.birth_date.label(class="form-label") }}<br>
                    {{ form.birth_date(size=10, class="form-control") }}
                    {% for error in form.birth_date.errors %}
                    <span class="danger">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div class="form-outline">
                    {{ form.short_text.label(class="form-label") }}<br>
                    {{ form.short_text(size=64, class="form-control") }}
                    {% for error in form.short_text.errors %}
                    <span class="danger">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Submit button -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary">
              Save Changes
            </button>
        </div>
    </form>



