{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}
 <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="{{url_for('static', filename='img/logo.png')}}" alt="">
                  <span class="d-none d-lg-block">SuperVisors</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                  </div>

                  <form class="row g-3 needs-validation" novalidate method="post">
                      {{form.hidden_tag() }}
                    <div class="col-6">
                        {{ form.first_name.label(class="form-label") }}<br>
                        {{ form.first_name(size=64, class="form-control") }}
                        {% for error in form.first_name.errors %}
                            <span class="danger">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="col-6">
                        {{ form.last_name.label(class="form-label") }}<br>
                        {{ form.last_name(size=64, class="form-control") }}
                        {% for error in form.last_name.errors %}
                            <span class="danger">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="col-12">
                        {{ form.email.label(class="form-label") }}<br>
                        {{ form.email(size=64, class="form-control") }}
                        {% for error in form.email.errors %}
                            <span class="danger">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Username</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input type="text" name="username" class="form-control" id="yourUsername" required>
                        <div class="invalid-feedback">Please choose a username.</div>
                      </div>
                    </div>

                    <div class="col-12">
                        {{ form.password.label(class="form-label") }}<br>
                        {{ form.password(size=64, class="form-control") }}
                        {% for error in form.password.errors %}
                            <span class="danger">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="col-12">
                        {{ form.password2.label(class="form-label") }}<br>
                        {{ form.password2(size=64, class="form-control") }}
                        {% for error in form.password2.errors %}
                            <span class="danger">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                        <div class="invalid-feedback">You must agree before submitting.</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Already have an account? <a href="{{url_for('auth.login')}}">Log in</a></p>
                    </div>
                  </form>

                </div>
              </div>

              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->
<!--
<div class="row mb-4">
    <div class="col-4"></div>
    <div class="col-4 d-flex justify-content-center">
    <form method="post">
    <h2>{{legend}}</h2>
    {{ form.hidden_tag() }}
        <div class="row mb-4">
        <div class="col d-flex justify-content-center">
                <div class="form-outline mb-4">
            {{ form.first_name.label(class="form-label") }}<br>
            {{ form.first_name(size=64, class="form-control") }}
            {% for error in form.first_name.errors %}
            <span class="danger">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-outline mb-4">
            {{ form.last_name.label(class="form-label") }}<br>
            {{ form.last_name(size=64, class="form-control") }}
            {% for error in form.last_name.errors %}
            <span class="danger">[{{ error }}]</span>
            {% endfor %}
        </div>

        </div>
    </div>

    <div class="form-outline mb-4">
            {{ form.username.label(class="form-label") }}<br>
            {{ form.username(size=64, class="form-control") }}
            {% for error in form.username.errors %}
            <span class="danger">[{{ error }}]</span>
            {% endfor %}
  </div>

    <div class="form-outline mb-4">
            {{ form.email.label(class="form-label") }}<br>
            {{ form.email(size=64, class="form-control") }}
            {% for error in form.email.errors %}
            <span class="danger">[{{ error }}]</span>
            {% endfor %}
  </div>


    <div class="form-outline mb-4">
            {{ form.password.label(class="form-label") }}<br>
            {{ form.password(size=64, class="form-control") }}
            {% for error in form.password.errors %}
            <span class="danger">[{{ error }}]</span>
            {% endfor %}
  </div>

    <div class="form-outline mb-4">
            {{ form.password2.label(class="form-label") }}<br>
            {{ form.password2(size=64, class="form-control") }}
            {% for error in form.password2.errors %}
            <span class="danger">[{{ error }}]</span>
            {% endfor %}
  </div>


    <div class="row mb-4">
    <div class="col d-flex justify-content-center">

    </div>


  </div>


    <p class="col" >{{ form.submit(class="btn btn-primary btn-block mb-4") }}</p>


      <div class="text-center">
        <p>Already member? <a href="{{url_for('auth.login')}}">Sign In</a></p>
      </div>
    </form>
    </div>
    <div class="col-4"></div>
</div>
-->
{% endblock %}
