
    <form action="" method="post">
        {{ subjects_form.hidden_tag() }}
        <div class="row mb-0">
            <div class="col">
                {% if subjects_form.subject.data  == '' %}
                <p>--</p>
                {% else %}
                {{ render_field(subjects_form.subject)}}
                {% endif %}
            </div>
            <div class="col">
                {{render_field(subjects_form.grade_from)}}
            </div>
            <div class="col">
                {{render_field(subjects_form.grade_to)}}
            </div>
            <div class="col">
                <div class="mb-2">Action</div>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-plus"></i>
                    </button>
                </div>
        </div>
    </form>



    <div class="row m-2 g-2 g-lg-2">
        <table>
            <thead>
                <tr>
                <th class="desc">Subject</th>
                <th class="desc">Grade from</th>
                <th class="desc">Grade to</th>
                </tr>
            </thead>
            <tbody>
            {% for subj in data.tutoring_exp.tutor_subjects %}
            <tr>
                <td class="desc">{{ subj.subject }}</td>
                <td class="desc">{{ subj.grade_from}}</td>
                <td class="desc">{{ subj.grade_to}}</td>
                <td class="desc"><a href="{{url_for('auth.delete_subject', subject_id=subj.id)}}"><i class="bi bi-trash ml-4 text-danger"></i></a></td>
            </tr>
            {% endfor  %}
            </tbody>
        </table>
    </div>