body {
    margin: 0 auto;
    padding: 0;
    background: #314478;
}
.container {
    background:#E5E1E6;
    padding: 10px;
}
a.navbar-brand {
    font-family: 'Caveat', cursive;
    color: purple;
    font-size: 2em;
    padding:  0;
    margin-top: 0;
    margin-bottom: 0;
}
.login-register {
  max-width: 400px;
}

li.active > a {
	background-color: #333;
	color: #fff;
}
.table-dark {
    color: cyan;
}

.desc {
    font-size:0.8rem;
    color: purple
}

.btn-primary {
    background-color: #693C5E;
}
.btn-primary:hover {
    background-color: #9873AC;
    color: white;
}
