body {
    margin: 0 auto;
    padding: 0;
}
a.navbar-brand {
    font-family: 'Caveat', cursive;
    color: purple;
    font-size: 2em;
    padding:  0;
    margin-top: 0;
    margin-bottom: 0;
}
.login-register {
  max-width: 400px;
}