<div id="process_header">
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class='nav-link link-info' href="{{url_for('admin.create_user', user_name=current_user.username)}}"><i class="bi bi-1-circle m-1"></i>Information</a>
  </li>
  {% if email  %}
  <li class="nav-item">
    <a class='nav-link link-info' href="{{url_for('auth.profile_2', user_name=current_user.username)}}"><i class="bi bi-2-circle m-1"></i>How he/she can Help</a>
  </li>
  <li class="nav-item">
    <a class='nav-link link-info' href="{{url_for('auth.profile_3', user_name=current_user.username)}}"><i class="bi bi-3-circle m-1"></i>More About him/her</a>
  </li>
  <li class="nav-item">
    <a class='nav-link link-info' href="{{url_for('auth.profile_4', user_name=current_user.username)}}"><i class="bi bi-4-circle m-1"></i>Interviews</a>
  </li>
  <li class="nav-item">
    <a class='nav-link link-info' href="{{url_for('auth.profile_5', user_name=current_user.username)}}"><i class="bi bi-5-circle m-1"></i>Commitments</a>
  </li>
  {% endif %}
</ul>
</div>

