{% extends 'base.html' %}

{% from "_macros.html" import render_field, render_fields, switch_status %}

{% block title %}
Create User
{% endblock %}

{% block content %}
<div class="row mb-4">
  <div class="col-10 me-0"><h3 class="legend-color">{{ legend }}</h3></div>
  {% include 'auth/breadcrumb_user.html' %}
</div>
<hr>

<div class="row mb-2">

    <div class="col-12">
        <form method="post" novalidate>
        {{ user_form.hidden_tag() }}

        <div  class="row mb-4">
            <div class="col-2">
                <div class="form-outline">
                        {{ user_form.username.label(class="form-label desc mb-0") }}<br>
                        {{ user_form.username(size=64, class="form-control") }}
                        {% for error in user_form.username.errors %}
                        <span class="danger">[{{ error }}]</span>
                        {% endfor %}
                    </div>
            </div>
            <div class="col-2">
                <div class="form-outline">
                        {{ user_form.first_name.label(class="form-label desc mb-0") }}<br>
                        {{ user_form.first_name(size=64, class="form-control") }}
                        {% for error in user_form.first_name.errors %}
                        <span class="danger">[{{ error }}]</span>
                        {% endfor %}
                    </div>
            </div>
            <div class="col-2">
                    <div class="form-outline">
                        {{ user_form.last_name.label(class="form-label desc mb-0") }}<br>
                        {{ user_form.last_name(size=64, class="form-control") }}
                        {% for error in user_form.last_name.errors %}
                        <span class="danger">[{{ error }}]</span>
                        {% endfor %}
                    </div>
            </div>
            <div class="col-3">
                    <div class="form-outline">
                        {{ user_form.email.label(class="form-label desc mb-0") }}<br>
                        {{ user_form.email(size=64, class="form-control") }}
                        {% for error in user_form.email.errors %}
                        <span class="danger">[{{ error }}]</span>
                        {% endfor %}
                    </div>
            </div>

        </div>
        <div class="row">
            <div class="col-3">
                    <div class="form-outline">
                        {{ render_field(user_form.role) }}
                    </div>
            </div>
            <div class="{{col-3 if data.role =='superadmin' else 'col-3 disabled'}}">
                    <div class="form-outline">
                        {{ render_field(user_form.status) }}
                    </div>
            </div>
        </div>

        <p class="text-center mt-4">{{ user_form.submit(class="btn btn-primary btn-block mb-4") }}</p>
        </form>
    </div>
    <hr>

</div>

{% endblock %}