

  <form class="form-inline my-2 my-lg-2" method="get">
    <div class="row">
      <div class="col-2">
        <input class="form-control mr-sm-2" type="search" placeholder="Search by firstname" name="q_first">
      </div>
      <div class="col-2">
        <input class="form-control mr-sm-2" type="search" placeholder="Search by lastname" name="q_last">
      </div>
      <div class="col-1">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </div>
    </div>
  </form>

