{% extends 'base.html' %}
{% from "_macros.html" import render_field, render_fields, switch_status %}

{% block content %}

<main id="main" class="main">
    <div class="pagetitle">
      <h1>{{ legend }}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('main.index')}}">Home</a></li>
          <li class="breadcrumb-item active">Tutors</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <div class="row d-flex justify-content-around">
        <div class="col">{% include 'admin/search_tutor_bar.html'  %}</div>
        <div class="row mb-2">
            <div class="col me-0">{% if queries[0] or queries[1] or queries[2] or queries[3] %}<span style="color: navy">{{queries[0]}} {{queries[1]}} {{queries[2]}} {{queries[3]}}</span>{% else %} <span></span> {% endif %}</div>
        </div>
    </div>
      <section class="section">
            <div >
              <div class="card" style="overflow-x:auto;">
                <div class="card-body">
                  <!-- Table with hoverable rows -->
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col" >#</th>
                        <th scope="col" >First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">When</th>
                        <th scope="col" class="col">Subjects</th>
                        <th scope="col" class="col">Mods.</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for tutor in data %}
                      <tr style="font-size:0.8rem">
                        <td height="50"><a href="{{url_for('admin.get_tutor_by_id', tutor_id=tutor.id)}}">{{tutor.id}}</a></td>
                          <td height="50">{{tutor.first_name}}</td>
                          <td>{{tutor.last_name}}</td>
                          <td>{{tutor.email}}</td>
                          <td>{{tutor.my_info.phone}}</td>
                          <td>
                            <div style="height: 40px; overflow:scroll;">
                            {% for item in tutor.tutoring_exp.tutor_availabilities %}
                            <p class="mb-0">{{item.day_possible}} ({{item.day_time_from}}-{{item.day_time_to}})</p>
                            {% endfor %}
                            </div>
                          </td>
                          <td>
                            <div style="height: 40px; overflow:scroll;">
                            {% for item in tutor.tutoring_exp.tutor_subjects %}
                            <p class="mb-0">{{item.subject}} ({{item.grade_from}}-{{item.grade_to}})</p>
                            {% endfor %}
                            </div>
                          </td>
                          <td>
                            <div style="height: 40px; overflow:scroll;">
                            {% for mod in tutor.tutoring_exp.tutor_modalities %}
                            <p class="mb-0">{{mod.modality}}</p>
                            {% endfor %}
                            </div>
                          </td>
                          <td><span class={% if tutor.status == '1' %}"badge bg-warning"
                              {% elif tutor.status == '2' %}"badge bg-secondary"
                              {% elif tutor.status == '3' %}"badge bg-light text-primary"
                              {% elif tutor.status == '4' %}"badge bg-primary"
                              {% elif tutor.status == '5' %}"badge bg-info"
                              {% elif tutor.status == '6' %}"badge bg-success"
                              {% else %} "badge bg-danger" {% endif %} >{{switch_status(tutor.status)}}</span></td>
                        </tr>

                      {% endfor %}
                    </tbody>
                  </table>
                  <!-- End Table with hoverable rows -->
                </div>
              </div>
        </div>
      </section>
  </main><!-- End #main -->

{% endblock %}