{% extends 'admin/tutor_view.html' %}
{% from "_macros.html" import render_field, render_fields, switch_status %}

{% block modal %}
    <!-- Modal -->
<div class="modal fade" id="statusModal" tabindex="-1" aria-labelledby="statusModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="statusModalLabel">Change Status of Tutor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-outline mb-4">
            {{ render_field(form.status) }}
        </div>
          <div class="modal-footer">
            <p class="col" >{{ form.submit(class="btn btn-primary btn-block") }}</p>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
{% endblock %}
<!--
{% block script %}
        <script type="text/javascript">
          $(window).on('load'(function() {
                console.log("popup")
            $("#statusModal").modal("show");
          })
        </script>
{% endblock %} -->





