
  <h5 class="card-title">Profile Details</h5>

  <div class="row">
    <div class="col-lg-3 col-md-4 label">Username</div>
    <div class="col-lg-9 col-md-8">{{data.username}}</div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-4 label">Source</div>
    <div class="col-lg-9 col-md-8">
      {{data.more.inquiry}}
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-4 label">Zipcode</div>
    <div class="col-lg-9 col-md-8">{{data.my_info.zipcode}}</div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-4 label">City</div>
    <div class="col-lg-9 col-md-8">{{data.my_info.city}}</div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-4 label">Address</div>
    <div class="col-lg-9 col-md-8">
      {{data.my_info.address}}
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-4 label">Phone</div>
    <div class="col-lg-9 col-md-8">{{data.my_info.phone}}</div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-4 label">Engagement</div>
    <div class="col-lg-9 col-md-8">
      {{data.tutoring_exp.engagement}} from {{data.tutoring_exp.start_date}} to {{data.tutoring_exp.end_date}} frequency </span>{{data.tutoring_exp.frequency}} <span>{{ 'h/week' if data.tutoring_exp.frequency else '' }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-4 label">Date of Birth</div>
    <div class="col-lg-9 col-md-8">{{data.my_info.birth_date}}</div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-4 label">Availabilities</div>
    <div class="col-lg-9 col-md-8">
      <table class="table table-sm">
    {% for time in data.tutoring_exp.tutor_availabilities %}
      <tr class="mb-0">
        <td>{{time.day_possible}}</td>
        <td>{{time.day_time_from}}</td>
        <td>{{time.day_time_to}}</td>
      </tr>
    {% endfor  %}
  </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-4 label">Subjects</div>
    <div class="col-lg-9 col-md-8">
      <table class="table table-sm">
    {% for subj in data.tutoring_exp.tutor_subjects %}
      <tr  class="mb-0">
        <td>{{subj.subject}}</td>
        <td>{{subj.grade_from}}</td>
        <td>{{subj.grade_to}}</td>
      </tr>
    {% endfor  %}
  </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-4 label">Modalities</div>
    <div class="col-lg-9 col-md-8">
      <table class="table table-sm">
    {% for mod in data.tutoring_exp.tutor_modalities %}
      <tr class="mb-0">
        <td>{{mod.modality}}</td>
      </tr>
    {% endfor  %}
  </table>
    </div>
  </div>




  <div class="row">
    <div class="col-lg-3 col-md-4 label">More information</div>
    <div class="col-lg-9 col-md-8">{{data.my_info.short_text}}</div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-4 label">When contact me</div>
    <div class="col-lg-9 col-md-8">{{data.more.when}}</div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-4 label">Why to volunteer</div>
    <div class="col-lg-9 col-md-8">{{data.more.why}}</div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-4 label">My experience</div>
    <div class="col-lg-9 col-md-8">{{data.more.experience}}</div>
  </div>




