{% macro render_field(field) %}
  {{ field.label(class="form-label desc mb-2") }}<br>
  {{ field(class="form-control", **kwargs)|safe }}

{% endmacro %}

{% macro render_field_wo_label(field) %}
  {{ field(class="form-control", **kwargs)|safe }}

{% endmacro %}

{% macro render_fields(field) %}
  {{ field.label(class="form-label") }}<br>
  {{ field(class="form-control", style="list-style:none", **kwargs)|safe }}

{% endmacro %}

{% macro switch_status(st) %}
 {% if (st=='1') %}
  <span>created</span>
{% elif (st=='2') %}
  <span>proposed</span>
{% elif (st=='3') %}
  <span>documented</span>
{% elif (st=='4') %}
  <span>preselected</span>
{% elif (st=='5') %}
  <span>selected</span>
{% elif (st=='6') %}
  <span>validated</span>
{% else %}
  <span>cancelled</span>
{% endif %}
{% endmacro %}

{% macro show_icon(str) %}
{% if str == 'Yes' %}
  <i class="bi bi-check-circle-fill text-success"></i>
{% elif str == 'Not Yet' %}
  <i class="bi bi-circle text-info"></i>
{% endif %}
{% endmacro %}

{% macro progress_status(st) %}
 {% if (st=='1') %}
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
  {% elif (st=='2') %}
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">20%</div>
</div>
  {% elif (st=='3') %}
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
<div
  {% elif (st=='4') %}
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
</div>
  {% elif (st=='5') %}
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
</div>
  {% elif (st=='6') %}
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100
    %</div>
</div>
{% endif %}
{% endmacro %}



