{% macro render_field(field) %}

  {{ field.label(class="form-label desc mb-0") }}<br>
  {{ field(class="form-control", **kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}

{% endmacro %}

{% macro render_field_wo_label(field) %}
  {{ field(class="form-control", **kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro render_fields(field) %}

  {{ field.label(class="form-label") }}<br>
  {{ field(class="form-control", style="list-style:none", **kwargs)|safe }}

  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro switch_status(st) %}
 {% if (st=='1') %}
  <span>created</span>
{% elif (st=='2') %}
  <span>proposed</span>
{% elif (st=='3') %}
  <span>documented</span>
{% elif (st=='4') %}
  <span>preselected</span>
{% elif (st=='5') %}
  <span>selected</span>
{% elif (st=='6') %}
  <span>validated</span>
{% endif %}
{% endmacro %}

{% macro show_icon(str) %}
{% if str == 'Yes' %}
  <i class="bi bi-check-circle-fill text-success"></i>
{% elif str == 'Not Yet' %}
  <i class="bi bi-circle text-info"></i>
{% endif %}
{% endmacro %}



